.home {
  background-image: url("../../../../public/home.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.home-content {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 80vw;
}

p {
  color: #ffffff;
}

hr {
  border: 1px solid #ffffff;
  width: 100%;
}

button {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
  padding: 15px 45px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50px;
  margin-top: 30px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
