/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "primeicons/primeicons.css";
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
  height: 100%;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
